.destacados-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenido-destacados{
    width: 100%;
    max-width: 1300px;
    margin: 0px 30px;
}

.destacados-titulos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h3-catalogo{
    color: var(--color-secundario);
    font-size: 15px;
}

.subtitulo{
    color: white;
    font-size: 35px;
}

.destacados-container p{
    color: var(--color-terciario);
}


.productos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
    margin: 40px 20px;
    justify-content: center;
}

